<section class="footer">
  <div class="subscribe">
    <div class="container">
      <div class="row  mb-50">
        <div class="col-md-4 offset-md-4 text-center">
          <label for="email"> Subscribe to our Job Seeker Mailing List</label>
          <div class="input-group">
            <input type="email" class="form-control" id="email" placeholder="Enter Your Email Address">
            <div class="input-group-btn">
              <button class="btn envelope" type="submit">
                <i class="fa fa-envelope"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
